.car-component{
  width: 100%;
  border-bottom: 3px dashed #6e7681;
  margin-bottom: 6px;
}

.hidden{
  display: none;
}

.table{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-section{
  display: flex;
  flex-direction: column;
}